## Python Fundamentals

### Python Repositories and Parsing arguments to the python file

In [1]:
# python version
!python --version

Python 3.11.5

In [2]:
pip --version

pip 23.2.1 from /Users/hemanth/anaconda3/lib/python3.11/site-packages/pip (python 3.11)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# argument must be an object with a write(string) method; if it is not present or None, sys.stdout will be used
print('Hello World!')  
print("{} {}!".format("Hello", "World"))

Hello World!
Hello World!

In [4]:
print("P{}".format(3.115))
print("P{}{}".format("ython","3.11.5"))

P3.115
Python3.11.5

In [5]:
temp1 = 'hello'
temp2 = 'world'
# more on f'strings': https://realpython.com/python-f-strings/
print(f'{temp1} - {temp2}')

hello - world

In [6]:
# help is used to fetch the documentation about the modules, classes, functions and other objs
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [7]:
# invoking the python interpreter
# here we see python running in terminal using f'strings'
!python -c "print(f'{2+3}')"

5

In [8]:
# this is very essential when running scripts from terminal
!python custom_mod.py --name Hemanth --age 25

Hello Hemanth! You are 25 years old.

### Variables

In [9]:
# simple python operations and dealing with text and numerical data
x = 4 
print(x*2)
print(x**2)
x = "four"
print(x*2)
x = [4]
print(x*2)  # observer how diff datatypes have diff results

8
16
fourfour
[4, 4]

In [10]:
# comments in python
'''
Lets look at more;
num operations
'''

'\nLets look at more;\nnum operations\n'

In [11]:
x = '''
Lets look at more;
num operations
'''
print(x)

Lets look at more;
num operations

In [12]:
1*0

0

In [13]:
print(1/0)

ZeroDivisionError: division by zero

In [14]:
# more on exception handling towards the end of the session
try:
    1/0
except:
    print("division by zero")

division by zero

In [15]:
# operations
num1 = 25
num2 = 5
print("Addition:", num1+num2)
print("Subtraction:", num1-num2)
print("Multiplication:", num1*num2)
print("Division:", num1/num2)
print("Floor Divison:", 14//3)  # more like floor division
print("Power:", num1**2)
print("XOR:", 4^3)  # this is a bitwise XOR operator
# 100   (binary representation of 4)
# 011   (binary representation of 3)
# 111   (result of bitwise XOR) which is 7

Addition: 30
Subtraction: 20
Multiplication: 125
Division: 5.0
Floor Divison: 4
Power: 625
XOR: 7

In [16]:
 # python follows BODMAS for all the math
x, y = 3, 4
print(x + y*(y-x)**x/y % y * x // y + ((x+x**2) / (x-y) * (x+y)))

-81.0

### Data Types in Python

In [17]:
x = 'string'
y = 10
z = False
z1 = 4.0
z2 = 5-17j
print(type(x), type(y), type(z), type(z1), type(z2))

_list = [1, 2, 3, 4, 5,6,7]
print(type(_list))

_set = {1,2,3,4,5,6,7,8,9,1}
print(_set)
print(type(_set))

_tuple = (1, 2, 3, 4, 5,6)
print(type(_tuple))

_dict = {'a':1, 'b':2, 'c':3, 'd':4}
print(type(_dict))

<class 'str'> <class 'int'> <class 'bool'> <class 'float'> <class 'complex'>
<class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
<class 'tuple'>
<class 'dict'>

### String and its operations

In [18]:
# A string can be added to another string
x = "python"
print(x+x)
print(x*3)

pythonpython
pythonpythonpython

In [19]:
# accesing the string by using the indexs
x[0]

'p'

In [20]:
# [start, end and the step]
x[1:-1:1]

'ytho'

In [21]:
## Reverse the string ##

# shallow copy is a new object and then creates references to the original object
# where are deep copy creates a new object from the original object
x[::-1]  # all of this is a shallow copy

'nohtyp'

In [22]:
# length of the string
len(x)

6

In [23]:
# capitalizes a string
x.capitalize()

'Python'

In [24]:
"HEMANTH".lower()

'hemanth'

In [25]:
# casefolding is like .lower() 
x.capitalize().casefold()

'python'

In [26]:
x.count('n')

1

In [27]:
"HEMANTH".count('H')

2

In [28]:
x = " Python, Programming!"
print(x.upper())  # converts String to Uppercase
print(x.lower())  # converts String to Lowercase
print(x.strip())  # removes white space before and after string
print(x.replace("P", "N"))  # replaces first character with the second
print(x.split(","))  # splits the string and returns the list

 PYTHON, PROGRAMMING!
 python, programming!
Python, Programming!
 Nython, Nrogramming!
[' Python', ' Programming!']

In [29]:
_string = "python"
for i in _string:
    print(i)

p
y
t
h
o
n

In [30]:
print(_string[1])  # second character in the string
print(_string[2:5])
print(_string[:-4:-1])

y
tho
noh

In [31]:
# Bolean operations
print(1==1)
print(10>1)
print(10>=10)
print(10!=9)

True
True
True
True

In [1]:
print("Hemanth Mydugolam")

Hemanth Mydugolam

### List, tuple, set and dictionary operations

In [9]:
fruits_list = ["apple", "banana", "cherry"]
print(fruits_list)
print("Length of fruits_list = ",len(fruits_list))
# List items can be of any data type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))

# Using the list() constructor to make a List
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']
Length of fruits_list =  3
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
['apple', 'banana', 'cherry']

In [12]:
# Accessing the lists
print(thislist[1])
print(thislist[-1])
print(list4[2:4])
print(list4[:4])
print(list4[2:])
print(list4[-4:-1])

banana
cherry
[True, 40]
['abc', 34, True, 40]
[True, 40, 'male']
[34, True, 40]

In [13]:
# check if exists
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [15]:
# change values of list
print(thislist)
thislist[1] = "blackcurrant"
thislist

blackcurrant

['apple', 'blackcurrant', 'cherry']

In [17]:
# insert the item
thislist.insert(2, "watermelon")
thislist

['apple', 'blackcurrant', 'watermelon', 'watermelon', 'cherry']

In [18]:
# append the item in list
thislist.append("orange")
thislist

['apple', 'blackcurrant', 'watermelon', 'watermelon', 'cherry', 'orange']

In [19]:
# extend the list
thislist.extend(["Butter","Milk","Shake"])
thislist

['apple',
 'blackcurrant',
 'watermelon',
 'watermelon',
 'cherry',
 'orange',
 'Butter',
 'Milk',
 'Shake']

In [26]:
thislist.reverse()
print(thislist)

thislist.sort()
print(thislist)

list1 = ["cherry","apple","Banana"]
print(reversed([1,2,4,3,7,6,5]))
sorted([1,2,4,3,7,6,5])

['watermelon', 'watermelon', 'orange', 'cherry', 'blackcurrant', 'apple', 'Shake', 'Milk', 'Butter']
['Butter', 'Milk', 'Shake', 'apple', 'blackcurrant', 'cherry', 'orange', 'watermelon', 'watermelon']
<list_reverseiterator object at 0x1069a28f0>

[1, 2, 3, 4, 5, 6, 7]

In [35]:
# remove, pop and delete from list 
print(thislist)
thislist.remove("Milk")
print(thislist)
print(thislist.pop())
del thislist

['Butter', 'Milk', 'Shake', 'blackcurrant', 'orange', 'watermelon']
['Butter', 'Shake', 'blackcurrant', 'orange', 'watermelon']
watermelon

In [37]:
# checking if there exists a list or not
thislist

NameError: name 'thislist' is not defined

In [39]:
# clear method to empty the list
print(list1)
list1.clear()
print(list1)

['cherry', 'apple', 'Banana']
[]

In [40]:
# looping the list
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry